---
import SectionTitle from "../ui/SectionTitle.astro";
import ServiceCard from "../ui/ServiceCard.astro";
import Section from "./Section.astro";

import c1 from "../../assets/pics/card-pic1.png";
import c2 from "../../assets/pics/card-pic2.png";
import c3 from "../../assets/pics/card-pic3.png";
import c4 from "../../assets/pics/card-pic4.png";
import c5 from "../../assets/pics/card-pic5.png";
import c6 from "../../assets/pics/card-pic6.png";

const cards = [
  {
    index: 1,
    titleTop: "Financiamiento para",
    titleBottom: "Carros Nuevos y Usados",
    img: c1,
    alt: "Financiamiento",
    link: "https://google.com", // Cambiar a la página correspondiente
  },
  {
    index: 2,
    titleTop: "Inversiones con",
    titleBottom: "Altas Tasas de Interés",
    img: c2,
    alt: "Inversiones",
    link: "https://google.com", // Cambiar a la página correspondiente
  },
  {
    index: 3,
    titleTop: "Compra y Venta",
    titleBottom: "de carros en línea",
    img: c3,
    alt: "Compra y Venta de Carros",
    link: "https://google.com", // Cambiar a la página correspondiente
  },
  {
    index: 4,
    titleTop: "Asesoría Personalizada",
    titleBottom: "en finanzas automotrices",
    img: c4,
    alt: "Asesoría",
    link: "https://google.com", // Cambiar a la página correspondiente
  },
  {
    index: 5,
    titleTop: "Publicación rápida",
    titleBottom: "de tu vehículo",
    img: c5,
    alt: "Publicar Vehículo",
    link: "https://google.com", // Cambiar a la página correspondiente
  },
  {
    index: 6,
    titleTop: "Evaluación y",
    titleBottom: "valoración de vehículos",
    img: c6,
    alt: "Evaluación de Vehículos",
    link: "https://google.com", // Cambiar a la página correspondiente
  },
];


const description =
  "En Club Cash In, ofrecemos una amplia gama de servicios para ayudarte a crecer y tener éxito. Estos servicios incluyen:"; 
---

<Section id="services">
  <div class="mt-[140px] mb-5">
    <SectionTitle sectionTitle="Servicios" description={description} />
    <div class="grid lg:grid-cols-2 lg:grid-rows-3 gap-10">
      {
        cards.map((card) => (
          <ServiceCard
            index={card.index}
            titleTop={card.titleTop}
            titleBottom={card.titleBottom}
            img={card.img}
            alt={card.alt}
            link={card.link}
          />
        ))
      }
    </div>
  </div>
</Section>
