---
import SectionTitle from "../ui/SectionTitle.astro";
import TeamCard from "../ui/TeamCard.astro";
import Section from "./Section.astro";

const description =
  "Conoce a nuestro equipo de expertos en finanzas, mercado automotriz, marketing digital y tecnología, que impulsan nuestras estrategias exitosas";


import {
  default as p1,
  default as p2,
  default as p3,
  default as p4,
  default as p5,
  default as p6,
} from "../../assets/pics/team_pic.svg";

const team = [
  {
    pic: p1,
    name: "Richard Kachler",
    role: "CEO",
    description:
      "Con más de 10 años de experiencia en el sector financiero y automotriz, Richard lidera la visión estratégica de Club Cash In, enfocándose en la innovación en servicios de financiamiento y la expansión de oportunidades de inversión.",
    link: "https://linkedin.com",
  },
  {
    pic: p2,
    name: "Andres Asensio",
    role: "CEO",
    description:
      "Con amplia experiencia en la gestión de operaciones financieras, Andrés optimiza los procesos internos de Club Cash In para garantizar un servicio eficiente, desde el financiamiento hasta la venta de vehículos.",
    link: "https://linkedin.com",
  },
  {
    pic: p3,
    name: "Lucia Salvatierra",
    role: "Gerente de Ventas",
    description:
      "Lidera el equipo de ventas con más de 7 años de experiencia en la industria automotriz. Su enfoque es garantizar que los clientes encuentren las mejores opciones de vehículos y financiamiento, maximizando la satisfacción y el éxito de las ventas.",
    link: "https://linkedin.com",
  },
  {
    pic: p4,
    name: "Boris Lemus",
    role: "Gerente de Transformación Digital",
    description:
      "Lidera la integración de soluciones digitales que hacen de la compra, venta e inversión en vehículos un proceso sencillo y eficiente, aplicando tecnología para optimizar la experiencia del cliente en cada paso.",
    link: "https://linkedin.com",
  },
  {
    pic: p5,
    name: "Luis Ralda",
    role: "Gerente de Tecnología",
    description:
      "Encargado de la infraestructura tecnológica de Club Cash In, asegurando que todas nuestras plataformas sean seguras, fáciles de usar y estén a la vanguardia, permitiendo transacciones sin fricciones.",
    link: "https://linkedin.com",
  },
  {
    pic: p6,
    name: "Juanito Pérez",
    role: "Gerente de Marketing",
    description:
      "Con una fuerte experiencia en marketing digital, Juanito desarrolla estrategias para atraer a los clientes adecuados, enfocándose en crear campañas efectivas para promover tanto nuestras ofertas de vehículos como las oportunidades de inversión.",
    link: "https://linkedin.com",
  },
];

---

<Section id="about">
  <div class="mt-[140px]">
    <SectionTitle sectionTitle="Nuestro equipo" description={description} />
    <div
      class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 grid-rows-2 gap-10"
    >
      {
        team.map((member, index) => (
          <TeamCard
            key={index}
            pic={member.pic}
            name={member.name}
            role={member.role}
            description={member.description}
            link={member.link}
          />
        ))
      }
    </div>
    <div class="flex justify-end mt-10">
      <button class="btn-primary">Conoce a todo el equipo</button>
    </div>
  </div>
</Section>

